.closeIcon {
  z-index: 99;
  position: fixed;
  top: 10px;
  left: 10px;
}
.childrenContainer--drawer-mobile {
  display: block !important;
}
.openIconContainer--drawer-mobile {
  margin: 15px 10px;
}
.openIconContainer--mobile-menu {
  padding: 0 135px;
  margin: 0;
  opacity: 0;
  width: 0px;
}
.menuIcon--drawer-mobile {
  opacity: 0.9;
}

/*Submenus*/
.childrenContainer--mobile-menu {
  display: block;
}

.closeIcon--mobile-menu {
  color: transparent;
  width: 6px;
  content: "";
  background-image: url("/arquivos/arrow.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 20px;
  z-index: 999;
  padding: 12px 7px;
  margin: 6px 8px 0 ;
  transform: rotate(90deg);
  top: 151px;
  font-weight: 700 !important;
}
.closeIconButton--mobile-menu {
  margin: 0;
  padding: 0;
}
.closeIconContainer--mobile-menu {
  margin-top: 24px;
}
.drawerContent--drawerFilter{
  height: 100%;
}
.closeIcon--drawerFilter{
  width: 0;
}
.closeIcon--drawerFilter,
.closeIconButton--drawerFilter{
  position: absolute;
  top: unset;
  left: unset;
  right: 20px;
  bottom: 20px;
  outline: 0 !important;
}
.closeIconButton--drawerFilter::before{
  content: "Ver resultados";
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  background: #d56e2f;
  padding: 15px 25px;
}
