.cartIcon {
  height: 23px;
  width: 23px;
  margin-top: -15px;
  padding: 0px;
}
.openIconContainer {
  height: auto;
}
.openIconContainer:hover {
  background: none;
  background-color: none;
}
.minicartContainer {
  padding: 0px;
}
.minicartSideBarContentWrapper {
  padding-left: 20px;
}
.minicartEmptyStateContainer {
  justify-content: unset;
}
.minicartQuantityBadge {
  background: #d86c2b;
  margin-top: 15px;
  margin-right: 3px;
  width: 12px;
  height: 12px;
  color: white;
  font-size: 10px;
  font-weight: 800;
  font-family: "Lora";
  border-radius: 10px;
}
.opened {
  width: 480px;
}
.minicartCheckoutButton {
  opacity: 0;
  z-index: 2;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
}

@media screen and (max-width: 1024px) {
  .opened {
    width: 100% !important;
  }
  .openIconContainer {
    padding: 0px;
    margin: 10px 0px;
  }
  .cartIcon {
    height: 23px;
    width: 23px;
    margin: 13px 0;
    opacity: 0.7;
  }
}
