.menuItem--header-submenu-text {
  margin: 5px 0;
  font-size: 13px;
  color: #515151;
}

.styledLinkContent--image-new::after {
  content: "New!";
  font-size: 9px;
  margin-left: 5px;
  font-weight: bold;
  margin-top: -5px;
  text-transform: capitalize;
}

.menuItem--header-submenu-text:hover {
  background: #ebdedd;
}

.menuItem--header-submenu-1-text:hover {
  background: #ebdedd;
}

.menuItem--header-submenu-1-text {
  padding: 10px 0;
}

.styledLinkContent--header-submenu-1-text {
  font-size: 13px;
  color: #515151;
  padding: auto 0;
  height: 100%;
  padding: 1% 0;
}

.styledLinkContent--header-menu-2 {
  text-decoration: none;
  color: black;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  height: 21px;
}

.menuContainer--submenuVestuario {
  justify-content: center;
}

.menuItem--header-menu-2 {
  display: flex;
}

.menuItem--header-menu-2::after {
  /**/
  width: 12px;
  content: "";
  background-image: url("/arquivos/arrow.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 999;
  padding-top: 5px;
  padding-left: 3px;
  margin-top: 1px;
  position: relative;
  height: 46px;
  margin: 14px 0 14px -12px;
}

.menuItem--sale::after {
  width: 12px;
  content: "";
  background-image: url("/arquivos/arrow-orange.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 999;
  padding-top: 5px;
  padding-left: 3px;
  margin-top: 1px;
  position: relative;
  height: 46px;
  margin: 14px 0 14px -12px;
}

.menuItem--sale:hover::after,
.menuItem--header-menu-2:hover::after {
  /**/
  transform: rotate(180deg);
}

.styledLinkContent--header-menu-2:hover::after {
  transform: rotate(180deg);
  opacity: 0.5;
}

.styledLinkContent--header-menu-2:hover {
  color: #797878;
  font-weight: 400;
}

.styledLinkContainer--header-menu-2 {
  height: 20px;
  margin: 14px;
}

.styledLinkContent--header-submenu-text {
  font-size: 13px;
  color: #515151;
}

.submenuContainer {
  left: -0.9em;
  right: 0em;
  position: absolute;
}

.submenuWrapper {
  height: 310px;
  width: 100%;
  left: 0;
  right: 0;
  box-sizing: border-box;
  border: 0;
  margin: 80px 0 20px 0;
  padding: 20px 0;
  background-color: #f7ebe9 !important;
}

.menuContainerNav--submenu {
  width: 280px;
  margin: auto 0;
}

.menuContainerNav--submenu-1 {
  width: 200px;
}

.menuItem--submenu:hover {
  background: #faf5f5;
  opacity: 0.5;
}

.menuItem--submenu-baletas:hover::before {
  content: "";
  position: absolute;
  background-image: url("/arquivos/MC-menu-baletas.jpg");
  background-size: 100%;
  top: 25px;
  left: calc(50% + 25px);
  width: 100%;
  max-width: 550px;
  height: 259px;
  z-index: 2;
}

.menuItem--submenu-sandalias-planas:hover::before {
  content: "";
  position: absolute;
  background-image: url("/arquivos/MC-menu-sandalias-planas.jpg");
  background-size: 100%;
  top: 25px;
  left: calc(50% + 25px);
  width: 100%;
  max-width: 550px;
  height: 259px;
  z-index: 2;
}

.menuItem--submenu-botas-y-botines:hover::before {
  content: "";
  position: absolute;
  background-image: url("/arquivos/MC-menu-botas.jpg");
  background-size: 100%;
  top: 25px;
  left: calc(50% + 25px);
  width: 100%;
  max-width: 550px;
  height: 259px;
  z-index: 2;
}

.menuItem--submenu-mocasines:hover::before {
  content: "";
  position: absolute;
  background-image: url("/arquivos/MC-menu-Mocasines.jpg");
  background-size: 100%;
  top: 25px;
  left: calc(50% + 25px);
  width: 100%;
  max-width: 550px;
  height: 259px;
  z-index: 2;
}

.menuItem--submenu-oxford:hover::before {
  content: "";
  position: absolute;
  background-image: url("/arquivos/MC-menu-oxford.jpg");
  background-size: 100%;
  top: 25px;
  left: calc(50% + 25px);
  width: 100%;
  max-width: 550px;
  height: 259px;
  z-index: 2;
}

.menuItem--submenu-zapatos-de-tacon:hover::before {
  content: "";
  position: absolute;
  background-image: url("/arquivos/minibanners-02.jpg");
  background-size: 100%;
  top: 25px;
  left: calc(50% + 25px);
  width: 100%;
  max-width: 550px;
  height: 259px;
  z-index: 2;
}

.menuItem--submenu-tacones:hover::before {
  content: "";
  position: absolute;
  background-image: url("/arquivos/MC-menu-tacones.jpg");
  background-size: 100%;
  top: 25px;
  left: calc(50% + 25px);
  width: 100%;
  max-width: 550px;
  height: 259px;
  z-index: 2;
}

.menuItem--submenu-tenis:hover::before {
  content: "";
  position: absolute;
  background-image: url("/arquivos/minibanners-04.jpg");
  background-size: 100%;
  top: 25px;
  left: calc(50% + 25px);
  width: 100%;
  max-width: 550px;
  height: 259px;
  z-index: 2;
}

.menuItem--submenu-zuecos:hover::before {
  content: "";
  position: absolute;
  background-image: url("/arquivos/MC-menu-zuecos.jpg");
  background-size: 100%;
  top: 25px;
  left: calc(50% + 25px);
  width: 100%;
  max-width: 550px;
  height: 259px;
  z-index: 2;
}

.menuItem--submenu-spadrillas:hover::before {
  content: "";
  position: absolute;
  background-image: url("/arquivos/MC-menu-spadrillas.jpg");
  background-size: 100%;
  top: 25px;
  left: calc(50% + 25px);
  width: 100%;
  max-width: 550px;
  height: 259px;
  z-index: 2;
}

.menuItem--submenu-sandalias-plataforma:hover::before {
  content: "";
  position: absolute;
  background-image: url("/arquivos/MC-menu-sandalias-plataforma.jpg");
  background-size: 100%;
  top: 25px;
  left: calc(50% + 25px);
  width: 100%;
  max-width: 550px;
  height: 259px;
  z-index: 2;
}

.menuItem--submenu-bolsos-y-carteras:hover::before {
  content: "";
  position: absolute;
  background-image: url("/arquivos/MC-menu-bolsos.jpg");
  background-size: 100%;
  top: 25px;
  left: calc(50% + 5px);
  width: 100%;
  max-width: 550px;
  height: 259px;
  z-index: 1000;
}

.menuItem--submenu-morrales:hover::before {
  content: "";
  position: absolute;
  background-image: url("/arquivos/MC-menu-morrales.jpg");
  background-size: 100%;
  top: 25px;
  left: calc(50% + 5px);
  width: 100%;
  max-width: 550px;
  height: 259px;
  z-index: 2;
}

.menuItem--submenu-bandoleras:hover::before {
  content: "";
  position: absolute;
  background-image: url("/arquivos/minibanners-03.jpg");
  background-size: 100%;
  top: 25px;
  left: calc(50% + 5px);
  width: 100%;
  max-width: 550px;
  height: 259px;
  z-index: 2;
}

.menuItem--submenu-sobres:hover::before {
  content: "";
  position: absolute;
  background-image: url("/arquivos/MC-menu-sobres.jpg");
  background-size: 100%;
  top: 25px;
  left: calc(50% + 5px);
  width: 100%;
  max-width: 550px;
  height: 259px;
  z-index: 2;
}

.menuItem--submenu-llaveros:hover::before {
  content: "";
  position: absolute;
  background-image: url("/arquivos/MC-menu-llaveros.jpg");
  background-size: 100%;
  top: 25px;
  left: calc(50% + 5px);
  width: 100%;
  max-width: 550px;
  height: 259px;
  z-index: 2;
}

.menuItem--submenu-cosmetiqueras:hover::before {
  content: "";
  position: absolute;
  background-image: url("/arquivos/minibanners-05.jpg");
  background-size: 100%;
  top: 25px;
  left: calc(50% + 5px);
  width: 100%;
  max-width: 550px;
  height: 259px;
  z-index: 2;
}

.menuItem--submenu-pulseras:hover::before {
  content: "";
  position: absolute;
  background-image: url("/arquivos/MC-menu-pulseras.jpg");
  background-size: 100%;
  top: 25px;
  left: calc(50% + 5px);
  width: 100%;
  max-width: 550px;
  height: 259px;
  z-index: 2;
}

.menuItem--submenu-limpieza-y-cuidados:hover::before {
  content: "";
  position: absolute;
  background-image: url("/arquivos/MC-menu-limpieza-y-cuidados.jpg");
  background-size: 100%;
  top: 25px;
  left: calc(50% + 5px);
  width: 100%;
  max-width: 550px;
  height: 259px;
  z-index: 2;
}

.menuItem--submenu-cadenas-y-collares:hover::before {
  content: "";
  position: absolute;
  background-image: url("/arquivos/MC-menu-cadenas-y-collares.jpg");
  background-size: 100%;
  top: 25px;
  left: calc(50% + 5px);
  width: 100%;
  max-width: 550px;
  height: 259px;
  z-index: 2;
}

.menuItem--submenu-anillos:hover::before {
  content: "";
  position: absolute;
  background-image: url("/arquivos/MC-menu-anillos.jpg");
  background-size: 100%;
  top: 25px;
  left: calc(50% + 5px);
  width: 100%;
  max-width: 550px;
  height: 259px;
  z-index: 2;
}

.menuItem--submenu-aretes:hover::before {
  content: "";
  position: absolute;
  background-image: url("/arquivos/MC-menu-aretes.jpg");
  background-size: 100%;
  top: 25px;
  left: calc(50% + 5px);
  width: 100%;
  max-width: 550px;
  height: 259px;
  z-index: 2;
}

.menuItem--submenu-billeteras-y-monederos:hover::before {
  content: "";
  position: absolute;
  background-image: url("/arquivos/MC-menu-billeteras.jpg");
  background-size: 100%;
  top: 25px;
  left: calc(50% + 5px);
  width: 100%;
  max-width: 550px;
  height: 259px;
  z-index: 2;
}

.menuItem--submenu-cinturones:hover::before {
  content: "";
  position: absolute;
  background-image: url("/arquivos/MC-menu-cinturon.jpg");
  background-size: 100%;
  top: 25px;
  left: calc(50% + 5px);
  width: 100%;
  max-width: 550px;
  height: 259px;
  z-index: 2;
}



.menuItem--submenu-safe-kit:hover::before {
  content: "";
  position: absolute;
  background: #f7ebe9;
  background-size: 100%;
  top: 25px;
  left: calc(50% + 5px);
  width: 100%;
  max-width: 550px;
  height: 259px;
  z-index: 2;
}

.menuContainerNav--submenuVestuario {
  width: 100% !important;
  justify-content: center !important;
}

.menuItem--submenu-Bono-Regalo:hover::before {
  content: "";
  position: absolute;
  background-image: url("/arquivos/MC-menu-bonos.jpg");
  background-size: 100%;
  top: 25px;
  left: calc(50% + 5px);
  width: 100%;
  max-width: 550px;
  height: 259px;
  z-index: 2;
}

.menuItem--submenu-ventas-corporativas:hover::before {
  content: "";
  position: absolute;
  background-image: url("/arquivos/MC-menu-ventas-corporativas.jpg");
  background-size: 100%;
  top: 25px;
  left: calc(50% + 5px);
  width: 100%;
  max-width: 550px;
  height: 259px;
  z-index: 2;
}

.menuItem--submenu-Cosmopolita:hover::before {
  content: "";
  position: absolute;
  background-image: url("/arquivos/MC-menu-cosmopolita.jpg");
  background-size: 100%;
  top: 25px;
  left: calc(50% + 5px);
  width: 100%;
  max-width: 550px;
  height: 259px;
  z-index: 2;
}

.menuItem--submenu-Urbano:hover::before {
  content: "";
  position: absolute;
  background-image: url("/arquivos/MC-menu-urbano.jpg");
  background-size: 100%;
  top: 25px;
  left: calc(50% + 5px);
  width: 100%;
  max-width: 550px;
  height: 259px;
  z-index: 2;
}

.menuItem--submenu-Verano:hover::before {
  content: "";
  position: absolute;
  background-image: url("/arquivos/MC-menu-verano.jpg");
  background-size: 100%;
  top: 25px;
  left: calc(50% + 5px);
  width: 100%;
  max-width: 550px;
  height: 259px;
  z-index: 2;
}

.styledLinkContent--submenu,
.styledLinkContent--submenu-baletas,
.styledLinkContent--submenu-sandalias-planas,
.styledLinkContent--submenu-botas-y-botines,
.styledLinkContent--submenu-mocasines,
.styledLinkContent--submenu-oxford,
.styledLinkContent--submenu-zapatos-de-tacon,
.styledLinkContent--submenu-tacones,
.styledLinkContent--submenu-tenis,
.styledLinkContent--submenu-zuecos,
.styledLinkContent--submenu-spadrillas,
.styledLinkContent--submenu-sandalias-plataforma,
.styledLinkContent--submenu-bolsos-y-carteras,
.styledLinkContent--submenu-morrales,
.styledLinkContent--submenu-bandoleras,
.styledLinkContent--submenu-sobres,
.styledLinkContent--submenu-llaveros,
.styledLinkContent--submenu-cosmetiqueras,
.styledLinkContent--submenu-pulseras,
.styledLinkContent--submenu-limpieza-y-cuidados,
.styledLinkContent--submenu-cadenas-y-collares,
.styledLinkContent--submenu-anillos,
.styledLinkContent--submenu-aretes,
.styledLinkContent--submenu-billeteras-y-monederos,
.styledLinkContent--submenu-cinturones,
.styledLinkContent--submenu-vestuario,
.styledLinkContent--submenu-safe-kit,
.styledLinkContent--submenu-Bono-Regalo,
.styledLinkContent--submenu-ventas-corporativas,
.styledLinkContent--submenu-Cosmopolita,
.styledLinkContent--submenu-Urbano,
.styledLinkContent--submenu-Verano {
  text-transform: uppercase;
  padding: 15px;
  font-size: 13px;
  color: #000;
  justify-content: left;
}

.styledLink--submenu {
  background: transparent;
}

.submenuWrapper--menu-vestuario {
  height: auto;
  width: 100%;
  left: 0;
  right: 0;
  box-sizing: border-box;
  border: 0;
  margin: 80px 0 20px 0;
  padding: 20px 0;
  background-color: #f7ebe9 !important;
}

.styledLinkContainer--submenu-vestuario {
  margin: 0 1rem;
}

.styledLinkContent--bold {
  font-weight: bold;
  font-size: 16px !important;
}

.styledLinkContent--bold:hover {
  font-weight: bold;
}

.styledLinkContainer--sale {
  padding: 0;
  margin: 0;
}

.styledLinkContent--sale  {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 25.5px;
  text-transform: uppercase;
  padding: 27px 15px;
  margin: 0;
  color: #ee562a;
}

@media screen and (max-width: 1024px) {
  .menuItem--submenu {
    margin: 0;
    color: #000000;
    font-size: 14px;
    padding: 2px 70px 2px 30px;
    border-bottom: 1px solid #d0d0d0;
    text-transform: capitalize;
  }

  .submenuWrapper {
    height: 0px;
    padding: 0px;
  }

  .menuContainerNav {
    width: 100%;
  }

  .styledLinkContainer--header-menu-2 {
    height: 0;
    margin: 0 0 0 5px;
    padding: 0px;
  }

  .styledLinkContent--header-menu-2 {
    margin: 0;
    padding: 0px 0 0 7px;
    text-transform: capitalize;

  }

  .styledLinkContent--header-menu-2::after {
    display: none;
  }

  .styledLinkContent--header-menu-2 {
    font-size: 16px;
  }

  .styledLinkContent--header-submenu-1-text {
    margin: 0;
    padding: 0px;
  }

  .styledLinkContent--submenu,
  .styledLinkContent--submenu-baletas,
  .styledLinkContent--submenu-sandalias-planas,
  .styledLinkContent--submenu-botas-y-botines,
  .styledLinkContent--submenu-mocasines,
  .styledLinkContent--submenu-oxford,
  .styledLinkContent--submenu-zapatos-de-tacon,
  .styledLinkContent--submenu-tacones,
  .styledLinkContent--submenu-tenis,
  .styledLinkContent--submenu-zuecos,
  .styledLinkContent--submenu-spadrillas,
  .styledLinkContent--submenu-sandalias-plataforma,
  .styledLinkContent--submenu-bolsos-y-carteras,
  .styledLinkContent--submenu-morrales,
  .styledLinkContent--submenu-bandoleras,
  .styledLinkContent--submenu-sobres,
  .styledLinkContent--submenu-llaveros,
  .styledLinkContent--submenu-cosmetiqueras,
  .styledLinkContent--submenu-pulseras,
  .styledLinkContent--submenu-limpieza-y-cuidados,
  .styledLinkContent--submenu-cadenas-y-collares,
  .styledLinkContent--submenu-anillos,
  .styledLinkContent--submenu-aretes,
  .styledLinkContent--submenu-billeteras-y-monederos,
  .styledLinkContent--submenu-cinturones,
  .styledLinkContent--submenu-vestuario,
  .styledLinkContent--submenu-safe-kit,
  .styledLinkContent--submenu-Bono-Regalo,
  .styledLinkContent--submenu-ventas-corporativas,
  .styledLinkContent--submenu-Cosmopolita,
  .styledLinkContent--submenu-Urbano,
  .styledLinkContent--submenu-Verano {
    padding: 0 0 0 15px;
    text-transform: capitalize;
    font-size: 15px;
  }

  .styledLinkContent--submenu-baletas,
  .styledLinkContent--submenu-sandalias-planas,
  .styledLinkContent--submenu-botas-y-botines,
  .styledLinkContent--submenu-mocasines,
  .styledLinkContent--submenu-oxford,
  .styledLinkContent--submenu-zapatos-de-tacon,
  .styledLinkContent--submenu-tacones,
  .styledLinkContent--submenu-tenis,
  .styledLinkContent--submenu-zuecos,
  .styledLinkContent--submenu-spadrillas,
  .styledLinkContent--submenu-sandalias-plataforma,
  .styledLinkContent--submenu-bolsos-y-carteras,
  .styledLinkContent--submenu-morrales,
  .styledLinkContent--submenu-bandoleras,
  .styledLinkContent--submenu-sobres,
  .styledLinkContent--submenu-llaveros,
  .styledLinkContent--submenu-cosmetiqueras,
  .styledLinkContent--submenu-pulseras,
  .styledLinkContent--submenu-limpieza-y-cuidados,
  .styledLinkContent--submenu-cadenas-y-collares,
  .styledLinkContent--submenu-anillos,
  .styledLinkContent--submenu-aretes,
  .styledLinkContent--submenu-billeteras-y-monederos,
  .styledLinkContent--submenu-cinturones,
  .styledLinkContent--submenu-vestuario,
  .styledLinkContent--submenu-safe-kit,
  .styledLinkContent--submenu-Bono-Regalo,
  .styledLinkContent--submenu-ventas-corporativas,
  .styledLinkContent--submenu-Cosmopolita,
  .styledLinkContent--submenu-Urbano,
  .styledLinkContent--submenu-Verano {
    padding: 3px 0 3px 43px;
    text-transform: capitalize;
    font-size: 15px;
  }

  .menuItem--submenu:hover::before,
  .menuItem--submenu-baletas:hover::before,
  .menuItem--submenu-sandalias-planas:hover::before,
  .menuItem--submenu-botas-y-botines:hover::before,
  .menuItem--submenu-mocasines:hover::before,
  .menuItem--submenu-oxford:hover::before,
  .menuItem--submenu-zapatos-de-tacon:hover::before,
  .menuItem--submenu-tacones:hover::before,
  .menuItem--submenu-tenis:hover::before,
  .menuItem--submenu-zuecos:hover::before,
  .menuItem--submenu-spadrillas:hover::before,
  .menuItem--submenu-sandalias-plataforma:hover::before,
  .menuItem--submenu-bolsos-y-carteras:hover::before,
  .menuItem--submenu-morrales:hover::before,
  .menuItem--submenu-bandoleras:hover::before,
  .menuItem--submenu-sobres:hover::before,
  .menuItem--submenu-llaveros:hover::before,
  .menuItem--submenu-cosmetiqueras:hover::before,
  .menuItem--submenu-pulseras:hover::before,
  .menuItem--submenu-limpieza-y-cuidados:hover::before,
  .menuItem--submenu-cadenas-y-collares:hover::before,
  .menuItem--submenu-anillos:hover::before,
  .menuItem--submenu-aretes:hover::before,
  .menuItem--submenu-billeteras-y-monederos:hover::before,
  .menuItem--submenu-cinturones:hover::before,
  .menuItem--submenu-vestuario:hover::before,
  .menuItem--submenu-safe-kit:hover::before,
  .menuItem--submenu-Bono-Regalo:hover::before,
  .menuItem--submenu-ventas-corporativas:hover::before,
  .menuItem--submenu-Cosmopolita:hover::before,
  .menuItem--submenu-Urbano:hover::before,
  .menuItem--submenu-Verano:hover::before {
    display: none;
  }

  .menuItem--submenu-baletas,
  .menuItem--submenu-sandalias-planas,
  .menuItem--submenu-botas-y-botines,
  .menuItem--submenu-mocasines,
  .menuItem--submenu-oxford,
  .menuItem--submenu-zapatos-de-tacon,
  .menuItem--submenu-tacones,
  .menuItem--submenu-tenis,
  .menuItem--submenu-zuecos,
  .menuItem--submenu-spadrillas,
  .menuItem--submenu-sandalias-plataforma,
  .menuItem--submenu-bolsos-y-carteras,
  .menuItem--submenu-morrales,
  .menuItem--submenu-bandoleras,
  .menuItem--submenu-sobres,
  .menuItem--submenu-llaveros,
  .menuItem--submenu-cosmetiqueras,
  .menuItem--submenu-pulseras,
  .menuItem--submenu-limpieza-y-cuidados,
  .menuItem--submenu-cadenas-y-collares,
  .menuItem--submenu-anillos,
  .menuItem--submenu-aretes,
  .menuItem--submenu-billeteras-y-monederos,
  .menuItem--submenu-cinturones,
  .menuItem--submenu-vestuario,
  .menuItem--submenu-safe-kit,
  .menuItem--submenu-Bono-Regalo,
  .menuItem--submenu-ventas-corporativas,
  .menuItem--submenu-Cosmopolita,
  .menuItem--submenu-Urbano,
  .menuItem--submenu-Verano {
    border-bottom: 1px solid #ddd;
  }



  .menuItem--header-submenu-1-text {
    padding: 7px 20px;
    margin: 0px 0px;
    border-bottom: 1px solid #d0d0d0;
  }

  .menuItem--header-submenu-text {
    padding: 7px 20px;
    margin: 0px 0px;
    border-bottom: 1px solid #d0d0d0;
  }

  .menuItem--header-menu-2 {
    width: 10px !important;
    left: 0.9em;
  }

  .styledLinkContainer--submenu-safe-kit,
  .styledLinkContainer--submenu-bono-regalo,
  .styledLinkContainer--submenu-ventas-corporativas,
  .styledLinkContainer--submenu-Cosmopolita,
  .styledLinkContainer--submenu-Urbano,
  .styledLinkContainer--submenu-Verano,
  .styledLinkContainer--submenu-llaveros,
  .styledLinkContainer--submenu-cosmetiqueras,
  .styledLinkContainer--submenu-pulseras,
  .styledLinkContainer--submenu-limpieza-y-cuidados,
  .styledLinkContainer--submenu-cadenas-y-collares,
  .styledLinkContainer--submenu-anillos,
  .styledLinkContainer--submenu-aretes,
  .styledLinkContainer--submenu-billeteras-y-monederos,
  .styledLinkContainer--submenu-cinturones,
  .styledLinkContainer--submenu-vestuario,
  .styledLinkContainer--submenu-sobres,
  .styledLinkContainer--submenu-bandoleras,
  .styledLinkContainer--submenu-morrales,
  .styledLinkContainer--submenu-suecos,
  .styledLinkContainer--submenu-tenis,
  .styledLinkContainer--submenu-tacones,
  .styledLinkContainer--submenu-spadrillas,
  .styledLinkContainer--submenu-sandalias-plataforma,
  .styledLinkContainer--submenu-sandalias-planas,
  .styledLinkContainer--submenu-zapatos-de-tacon,
  .styledLinkContainer--submenu-oxford,
  .styledLinkContainer--submenu-mocasines,
  .styledLinkContainer--submenu-botas-y-botines,
  .styledLinkContainer--submenu-baletas,
  .styledLinkContainer--submenu-bolsos-y-carteras {
    padding: 10px 0;
  }
}
