.stackItem--product {
  width: 100%;
}

.stackItem--quickview {
  display: none;
  right: 0;
  top: 0;
  left: auto;
}

.stackItem--percent-discunt-container{
  z-index: 3 !important;
  position: absolute;
  left: unset;
  right: 0;
}

.stackItem--stackImagePDP{
  position: relative;
}

.stackItem--stackImagePDP--percent-discunt-container :global(.vtex-store-components-3-x-discountContainer){
  position: absolute;
}