.galleryTitle--layout {
  text-align: left;
  color: #b39857;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 20px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
}
.galleryItem {
  padding: 0;
    margin: 5px;
}
.gallery {
  padding-left: 0px;
}
.searchResultContainer {
  width: 1200px;
  margin-bottom: 130px;
}
.filterPopupTitle {
  font-size: 12px;
  font-weight: 400;
  padding-left: 5px;
  height: auto;
  color: #8c8c8c;
}
.orderByOptionsContainer {
  z-index: 2;
  border-radius: 0;
  border-color: 0 solid transparent;
  transition: ease-out 0.15s;
  background-color: "#fff";
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  opacity: 1;
  box-shadow: unset;
  margin-top: 50px;
}
.totalProductsMessage {
  font-size: 0.9375em;
  font-weight: 400;
  text-transform: capitalize;
}
.filterMessage {
  font-size: 16px;
}

.categoryItemName {
  color: #b39857;
  font-size: 15px;
  font-weight: bold;
  text-transform: capitalize;
  box-sizing: border-box;
}

.categoryItemChildrenContainer {
  margin-top: 0px;
}
.categoryItemChildren {
  margin-left: 20px;
  font-size: 14px;
  color: #717171;
  text-transform: capitalize !important;
}
.buttonShowMore :global(.vtex-button){
  margin: 20px auto;
  background-color: #e3d3c7;
  outline: 0 !important;
}
.buttonShowMore :global(.vtex-button):hover{
  background-color: #d86c2b;
  color: #fff;
}

.orderByButton {
  padding: .75rem;
}
.totalProducts--layout {
  font-size: 12px;
  font-weight: 600;
  padding: .75rem;
  font-style: normal;
  color: #000;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}
.orderByText,
.totalProductsMessage {
  font-size: 12px;
  font-weight: 600;
  padding-top: 0px;
  padding-bottom: 0;
  font-style: normal;
  color: #000;
  text-transform: uppercase;
}
.orderByOptionItem {
  font-size: 14px;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 10px;
  font-style: normal;
  color: #222;
  text-transform: capitalize;
}

.filterTitle::before {
  width: 0;
  content: "";
  background-image: url("https://img.icons8.com/material-sharp/24/000000/expand-arrow.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 20px;
  z-index: 1;
  padding-top: 0px;
  padding-left: 20px;
  transform: rotate(0deg);
}
.filter {
  display: flex;
  padding-top: 0;
  height: 21px;
}
.filter__container {
  margin: 0;
  padding: 20px 30px;
}
.filterTemplateOverflow {
  padding: 0;
}
.filter__container--title {
  display: none;
}
.filterTitle {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 20px;
  box-sizing: border-box;
  color: #212529;
}
.filterItem {
  padding-left: 23px;
  line-height: 22px;
  color: #717171;
  font-size: 14px;
  margin-bottom: 7px;
}
.filterIcon {
  opacity: 0;
}

.filter__container--b {
  display: none;
}
.filterPopupArrowIcon{
  padding-right: 0;
}
.categoryParent,
.categoryItemChildren{
  outline: 0 !important;
}

.filterAvailable .pointer{
  outline: 0 !important;
}
.galleryItem--normal{
  position: relative;
}
.galleryItem :global(.vtex-modal-layout-0-x-triggerContainer){
  top: 10px;
}
@media screen and (min-width: 1024px){
  .galleryItem{
    width: 23%!important;
    min-width: 23%!important;
    flex-basis: 23% !important;
    max-width: 23% !important;
  }
}
.filterTemplateOverflow :global(.vtex-slider__selector){
  background: #d56e2f;
}



@media screen and (max-width: 1024px) {
  .galleryItem{
    flex-basis: 45% !important;
    max-width: 45% !important;
    width: 45% !important;
  }
  .orderByButton{
    padding: 0;
  }
  
  .totalProducts--layout{
    justify-content: center;
    padding: 24px 0 0 0;
  }
  .container--layout{
    width: 100%;
  }
  .orderByOptionsContainer {
    margin-top: 33px !important;
  }
  .orderByOptionItem {
    margin-top: 0;
  }
  .accordionFilterItemTitle {
    color: #222;
    font-weight: bold;
    font-size: 14px;
  }
  .filterAccordionBreadcrumbs {
    font-size: 16px;
    color: #222;
  }

  .filterAccordionItemBox {
    padding: 0 18px 0 0;
    height: 44px;
  }
  .gallery {
    padding: 0 5px;
    margin: 0px;
  }
  .filterPopupButton {
    font-weight: bold;
    color: #000;
    width: 100%;
    padding: 5px 10px 5px 20px;
    text-transform: uppercase;
    height: 35px;
  }
  .filterPopupTitle {
    font-size: 13px;
    font-weight: bold;
    padding-left: 0px;
    color: #000;
  }
  .filtersWrapperMobile {
    height: 35px;
  }
}
