.caretIcon--home-slider {
  background: white !important;
  padding: 5px;
  border-radius: 50%;
  border: 2px solid #9d884b;
  background: white;
}
.slideChildrenContainer--home-slider {
  display: block;
}
.sliderArrows--home-slider {
  width: 70px;
  height: 60px;
}
.sliderLeftArrow--home-slider {
  width: 60px;
  height: 60px;
  right: 155px;
  left: unset;
  top: 65%;
}
.sliderRightArrow--home-slider {
  width: 60px;
  height: 60px;
  right: 155px;
  top: 75%;
  opacity: 0.5;
}
.imageElement--header-menu-slider {
  height: 270px !important;
  margin-top: 45px;
}

.sliderLayoutContainer {
  width: 100%;
}
.sliderLayoutContainer--carousel {
  background-color: #f0f0f0;
}

.paginationDotsContainer {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.layoutContainer--shelf {
  margin-top: 20px;

  margin-bottom: 20px;
}

.sliderLayoutContainer--menu-slider {
  width: 570px !important;
  margin: 0 20px;
  height: 280px;
}
.sliderTrackContainer--menu-slider {
  height: 270px;
  margin: 0 10px;
}

.sliderLayoutContainer--shelf {
  width: 100%;
  height: auto;
  padding-left: 0;
  margin-bottom: 30px;
}
.slide--shelf {
  padding: 0 15px;
}

.slideChildrenContainer--shelf {
  background-color: #f9f6f1;
  position: relative;
  padding: 0px !important;
  width: 100%;
  height: auto;
}

.sliderArrows--social-networks,
.sliderArrows--shelf {
  border: 1px solid #9d884b;
  border-radius: 25px;
  padding: 10px;
  width: 50;
  height: 50;
  background: white !important;
}
.caretIcon--shelf {
  stroke-width: "1" !important;
  width: 15;
  height: 15;
  margin: 5px;
  border-radius: 30px;
}
.sliderLeftArrow--shelf {
  left: -9px;
  border-radius: 30px;
}
.sliderRightArrow--shelf {
  right: -6px;
  border-radius: 30px;
}

.sliderLeftArrow--social-networks {
  left: -20px;
}
.sliderRightArrow--social-networks {
  right: -20px;
}

@media screen and (max-width: 1024px) {
  .sliderLeftArrow--home-slider {
    right: 15px;
  }
  .sliderRightArrow--home-slider {
    right: 15px;
  }
  .slide--shelf .slide--header-menu-slider {
    width: 0;
    height: 0;
  }

  .slideChildrenContainer--shelf {
    margin: 0;
    padding: 0;
    height: auto;
  }
  .sliderTrack--shelf {
    margin: 0;
    padding: 0;
  }

  .slideChildrenContainer--social-networks {
    padding: 0 10px !important;
    margin: 0px 10px !important;
  }
  .slidertrack--social-networks {
    width: 768px !important;
  }

  .sliderLayoutContainer--shelf {
    color: #212529;
    font-size: 16px;
    padding: 0 !important ;
    margin: 0 0 10px !important;
  }
  .slide--shelf {
    padding: 0 10px;
    height: auto;
  }
  .sliderArrows--shelf {
    background: #ffffff !important;
    padding: 5px;
    width: 15;
    height: 15;
    margin: 0 !important;
  }
  .sliderLeftArrow--shelf {
    left: 5px !important;
  }
  .sliderRightArrow--shelf {
    right: 5px !important;
  }
  .sliderTrackContainer--shelf {
    margin: 0 5px;
  }
  .caretIcon--shelf {
    width: 15px;
    height: 15px;
    padding: 4px;
  }
}
