.input{
    z-index: 1;
    font-size: 13px;
}
.input::placeholder{
    text-transform: uppercase;
    color: #000;
}
.hideDecorators{
    height: 33px ;
  }
.container{
width: 50px;
}
.dropdown{
    display: flex;
    justify-content: center;
}
