.formSubmitButton :global(.vtex-button){
    /* background: #9d884b; */
    background: #e3d3c7;
}

.formSubmitButton--news-modal-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 20px;
}