.caretIcon--home-slider {
  background: white !important;
  padding: 5px;
  border-radius: 50%;
  border: 2px solid #9d884b;
  background: white;
  opacity: 0.5;
}

.slideChildrenContainer--home-slider {
  display: block;
}

.sliderArrows--home-slider {
  width: 70px;
  height: 60px;
}

.sliderLeftArrow--home-slider {
  width: 60px;
  height: 60px;
}

.sliderRightArrow--home-slider {
  width: 60px;
  height: 60px;
}

.imageElement--header-menu-slider {
  height: 270px !important;
  margin-top: 45px;
}

.imageElement--home-slider {
  max-height: unset !important;
}

.sliderLayoutContainer--home-slider {
  max-width: 1400px;
  margin: 0 auto;
}

.sliderLayoutContainer {
  width: 100%;
}

.sliderLayoutContainer--carousel {
  background-color: #f0f0f0;
}

.paginationDotsContainer {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.layoutContainer--shelf {
  margin-top: 20px;

  margin-bottom: 20px;
}

.sliderLayoutContainer--menu-slider {
  width: 570px !important;
  margin: 0 20px;
  height: 280px;
}

.sliderTrackContainer--menu-slider {
  height: 270px;
  margin: 0 10px;
}

.sliderLayoutContainer--shelf {
  width: 100%;
  height: auto;
  padding-left: 0;
  margin-bottom: 30px;
}

.slide--shelf {
  padding: 0 5px;
  max-width: 11.3333%;
}

.slideChildrenContainer--shelf {
  background-color: #f9f6f1;
  position: relative;
  padding: 0px !important;
  width: 100%;
  height: auto;
}

.slideChildrenContainer--shelf :global(.vtex-modal-layout-0-x-triggerContainer--quickview) {
  top: 10px;
}

.caretIcon--shelf {
  outline: 0 !important;
  right: -15px;
  margin: 0;
  padding: 5px;
  border-radius: 50%;
  border: 1px solid #9d884b;
  background: white;
}

.sliderLeftArrow--shelf {
  left: -22px;
  border-radius: 50%;
}

.sliderRightArrow--shelf {
  right: -22px;
  border-radius: 50%;
}

.caretIcon--social-networks {
  width: 22px;
  height: 22px;
}

.sliderArrows--social-networks {
  border-radius: 50%;
  border: 1px solid rgb(157, 136, 75);
  padding: 5px;
  background: #fff !important;
}

.sliderLeftArrow--social-networks {
  left: -22px;
}

.sliderRightArrow--social-networks {
  right: -22px;
}

.sliderArrows--home-slider-size {
  top: 0px;
  z-index: 3;
  width: 48%;
  opacity: 1;
}

.caretIcon--home-slider-size {
  width: 0%;
}

.sliderRightArrow--home-slider-size::before {
  content: "VESTUARIO";
  font-size: 14px;
  font-weight: bold;
  right: unset;
  left: 0;
}

.sliderLeftArrow--home-slider-size::before {
  content: "CALZADO";
  font-size: 14px;
  font-weight: bold;
  left: unset;
  right: 0;
}

.sliderRightArrow--home-slider-size::before:focus {
  margin-top: 15px;
  border-bottom: 1px solid #000;
  font-weight: bold;
}

.sliderLeftArrow--home-slider-size {
  background: unset;
}

.slideChildrenContainer--home-slider {
  justify-content: center;
  display: flex;
}

@media screen and (max-width: 1024px) {
  .sliderLeftArrow--home-slider {
    right: 15px;
    top: 45%;
    height: unset;
  }

  .sliderRightArrow--home-slider {
    right: 15px;
    height: unset;
    top: 70%;
  }

  .slide--shelf .slide--header-menu-slider {
    width: 0;
    height: 0;
  }

  .slideChildrenContainer--shelf {
    margin: 0;
    padding: 0;
    height: auto;
  }

  .sliderTrack--shelf {
    margin: 0;
    padding: 0;
  }

  .slideChildrenContainer--social-networks {
    padding: 0 10px !important;
    margin: 0px 10px !important;
  }

  .slidertrack--social-networks {
    width: 768px !important;
  }

  .sliderLayoutContainer--shelf {
    color: #212529;
    font-size: 16px;
    padding: 0 !important;
    margin: 0 0 10px !important;
  }

  .slide--shelf {
    padding: 0 5px;
    height: auto;
  }

  .sliderArrows--shelf {
    background: #ffffff !important;
    padding: 0px;
    width: 15;
    height: 15;
    margin: 0 !important;
  }

  .sliderLeftArrow--shelf {
    left: 5px !important;
  }

  .sliderRightArrow--shelf {
    right: 5px !important;
  }

  .sliderTrackContainer--shelf {
    margin: 0 5px;
  }

  .caretIcon--shelf {
    width: 20px;
    height: 20px;
  }

  .caretIcon--home-slider {
    width: 15px;
    height: 15px;
  }
}
